In [1]:
import numpy as np
import pandas as pd

In [2]:
mdf = pd.read_csv('matches.csv')
ddf = pd.read_csv('deliveries.csv')

In [3]:
mdf.head()

,id,balls_per_over,team,team_1,gender,season,date,event,match_number,venue,...,player_of_match,umpire,umpire_2,reserve_umpire,tv_umpire,match_referee,winner,winner_runs,winner_wickets,Column1
0,1001349,6,Australia,Sri Lanka,male,2016/17,17-02-17,Sri Lanka in Australia T20I Series,1.0,Melbourne Cricket Ground,...,DAS Gunaratne,MD Martell,P Wilson,MW Graham-Smith,SJ Nogajski,JJ Crowe,Sri Lanka,NaN,5.0,2.1.0
1,1001351,6,Australia,Sri Lanka,male,2016/17,19-02-17,Sri Lanka in Australia T20I Series,2.0,"Simonds Stadium, South Geelong",...,DAS Gunaratne,SD Fry,SJ Nogajski,MW Graham-Smith,P Wilson,JJ Crowe,Sri Lanka,NaN,2.0,2.1.0
2,1001353,6,Australia,Sri Lanka,male,2016/17,22-02-17,Sri Lanka in Australia T20I Series,3.0,Adelaide Oval,...,A Zampa,MD Martell,P Wilson,MW Graham-Smith,SD Fry,JJ Crowe,Australia,41.0,NaN,2.1.0
3,1004729,6,Ireland,Hong Kong,male,2016,05-09-16,Hong Kong in Ireland T20I Series,1.0,"Bready Cricket Club, Magheramason",...,NaN,R Black,AJ Neill,AJT Dowdalls,NaN,DT Jukes,Hong Kong,40.0,NaN,2.1.0
4,1007655,6,Zimbabwe,India,male,2016,18-06-16,India in Zimbabwe T20I Series,1.0,Harare Sports Club,...,E Chigumbura,TJ Matibiri,RB Tiffin,S Rwaziyeni,L Rusere,RB Richardson,Zimbabwe,2.0,NaN,2.1.0

In [4]:
ddf.head()

,Source.Name,match_id,season,start_date,venue,innings,over,balls,batting_team,bowling_team,...,wides,noballs,byes,legbyes,penalty,total_runs,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,1001349.csv,1001349,2016/17,17-02-17,Melbourne Cricket Ground,1,1,1,Australia,Sri Lanka,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1,1001349.csv,1001349,2016/17,17-02-17,Melbourne Cricket Ground,1,1,2,Australia,Sri Lanka,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
2,1001349.csv,1001349,2016/17,17-02-17,Melbourne Cricket Ground,1,1,3,Australia,Sri Lanka,...,0,0,0,0,0,1,NaN,NaN,NaN,NaN
3,1001349.csv,1001349,2016/17,17-02-17,Melbourne Cricket Ground,1,1,4,Australia,Sri Lanka,...,0,0,0,0,0,2,NaN,NaN,NaN,NaN
4,1001349.csv,1001349,2016/17,17-02-17,Melbourne Cricket Ground,1,1,5,Australia,Sri Lanka,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [5]:
inning_score_df = ddf.groupby(['match_id','innings']).sum()['total_runs'].reset_index()
inning_score_df = inning_score_df[inning_score_df['innings'] == 1]
inning_score_df

C:\Users\ASUS\AppData\Local\Temp\ipykernel_12168\3307785512.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  inning_score_df = ddf.groupby(['match_id','innings']).sum()['total_runs'].reset_index()

      match_id  innings  total_runs
0       211028        1         185
2       211048        1         226
4       222678        1         141
6       225263        1         155
8       225271        1         175
...        ...      ...         ...
3400   1344791        1         224
3402   1344792        1         180
3404   1344793        1         124
3406   1344794        1         169
3408   1344795        1         150

[1701 rows x 3 columns]

In [6]:
mdf['id']

0       1001349
1       1001351
2       1001353
3       1004729
4       1007655
         ...
1696     966763
1697     966765
1698     967081
1699     995467
1700     995469
Name: id, Length: 1701, dtype: int64

In [7]:
mdff = mdf.merge(inning_score_df[['match_id','total_runs']],left_on='id',right_on='match_id')
mdff

,id,balls_per_over,team,team_1,gender,season,date,event,match_number,venue,...,umpire_2,reserve_umpire,tv_umpire,match_referee,winner,winner_runs,winner_wickets,Column1,match_id,total_runs
0,1001349,6,Australia,Sri Lanka,male,2016/17,17-02-17,Sri Lanka in Australia T20I Series,1.0,Melbourne Cricket Ground,...,P Wilson,MW Graham-Smith,SJ Nogajski,JJ Crowe,Sri Lanka,NaN,5.0,2.1.0,1001349,175
1,1001351,6,Australia,Sri Lanka,male,2016/17,19-02-17,Sri Lanka in Australia T20I Series,2.0,"Simonds Stadium, South Geelong",...,SJ Nogajski,MW Graham-Smith,P Wilson,JJ Crowe,Sri Lanka,NaN,2.0,2.1.0,1001351,181
2,1001353,6,Australia,Sri Lanka,male,2016/17,22-02-17,Sri Lanka in Australia T20I Series,3.0,Adelaide Oval,...,P Wilson,MW Graham-Smith,SD Fry,JJ Crowe,Australia,41.0,NaN,2.1.0,1001353,195
3,1004729,6,Ireland,Hong Kong,male,2016,05-09-16,Hong Kong in Ireland T20I Series,1.0,"Bready Cricket Club, Magheramason",...,AJ Neill,AJT Dowdalls,NaN,DT Jukes,Hong Kong,40.0,NaN,2.1.0,1004729,179
4,1007655,6,Zimbabwe,India,male,2016,18-06-16,India in Zimbabwe T20I Series,1.0,Harare Sports Club,...,RB Tiffin,S Rwaziyeni,L Rusere,RB Richardson,Zimbabwe,2.0,NaN,2.1.0,1007655,179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1696,966763,6,Pakistan,Sri Lanka,male,2015/16,04-03-16,Asia Cup,10.0,Shere Bangla National Stadium,...,Enamul Haque,RSA Palliyaguruge,Sharfuddoula,JJ Crowe,Pakistan,NaN,6.0,2.1.0,966763,157
1697,966765,6,Bangladesh,India,male,2015/16,06-03-16,Asia Cup,NaN,Shere Bangla National Stadium,...,Shozab Raza,AK Chaudhary,Enamul Haque,JJ Crowe,India,NaN,8.0,2.1.0,966765,123
1698,967081,6,United Arab Emirates,Netherlands,male,2015/16,03-02-16,NaN,NaN,ICC Academy,...,Sarika Prasad,Akbar Ali,NaN,DT Jukes,Netherlands,84.0,NaN,2.1.0,967081,165
1699,995467,6,Sri Lanka,Australia,male,2016,06-09-16,Australia in Sri Lanka T20I Series,1.0,Pallekele International Cricket Stadium,...,RR Wimalasiri,ID Gunawardene,RSA Palliyaguruge,J Srinath,Australia,85.0,NaN,2.1.0,995467,272
1700,995469,6,Sri Lanka,Australia,male,2016,09-09-16,Australia in Sri Lanka T20I Series,2.0,R Premadasa Stadium,...,RSA Palliyaguruge,LE Hannibal,RR Wimalasiri,J Srinath,Australia,NaN,4.0,2.1.0,995469,270

In [9]:
mdff = mdff[['match_id','venue','winner','total_runs']]
ddff = mdff.merge(ddf,on='match_id')
ddff = ddff[ddff['innings'] == 2]
ddff

,match_id,venue_x,winner,total_runs_x,Source.Name,season,start_date,venue_y,innings,over,...,wides,noballs,byes,legbyes,penalty,total_runs_y,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
125,1001349,Melbourne Cricket Ground,Sri Lanka,175,1001349.csv,2016/17,17-02-17,Melbourne Cricket Ground,2,1,...,0,0,0,0,0,1,NaN,NaN,NaN,NaN
126,1001349,Melbourne Cricket Ground,Sri Lanka,175,1001349.csv,2016/17,17-02-17,Melbourne Cricket Ground,2,1,...,0,0,0,1,0,2,NaN,NaN,NaN,NaN
127,1001349,Melbourne Cricket Ground,Sri Lanka,175,1001349.csv,2016/17,17-02-17,Melbourne Cricket Ground,2,1,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
128,1001349,Melbourne Cricket Ground,Sri Lanka,175,1001349.csv,2016/17,17-02-17,Melbourne Cricket Ground,2,1,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
129,1001349,Melbourne Cricket Ground,Sri Lanka,175,1001349.csv,2016/17,17-02-17,Melbourne Cricket Ground,2,1,...,0,0,0,0,0,3,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389157,995469,R Premadasa Stadium,Australia,270,merged-deliveries-files.csv,2016,09-09-16,R Premadasa Stadium,2,18,...,0,0,0,0,0,1,NaN,NaN,NaN,NaN
389158,995469,R Premadasa Stadium,Australia,270,merged-deliveries-files.csv,2016,09-09-16,R Premadasa Stadium,2,18,...,0,0,0,0,0,3,NaN,NaN,NaN,NaN
389159,995469,R Premadasa Stadium,Australia,270,merged-deliveries-files.csv,2016,09-09-16,R Premadasa Stadium,2,18,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
389160,995469,R Premadasa Stadium,Australia,270,merged-deliveries-files.csv,2016,09-09-16,R Premadasa Stadium,2,18,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
389161,995469,R Premadasa Stadium,Australia,270,merged-deliveries-files.csv,2016,09-09-16,R Premadasa Stadium,2,18,...,0,0,0,0,0,6,NaN,NaN,NaN,NaN

In [10]:
ddff['current_score'] = ddff.groupby('match_id').cumsum()['total_runs_y']
ddff['runs_left'] = ddff['total_runs_x'] - ddff['current_score'] + 1
ddff['balls_left'] = 126 - (ddff['over']*6 + ddff['balls'])
ddff

C:\Users\ASUS\AppData\Local\Temp\ipykernel_12168\4222334232.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ddff['current_score'] = ddff.groupby('match_id').cumsum()['total_runs_y']

,match_id,venue_x,winner,total_runs_x,Source.Name,season,start_date,venue_y,innings,over,...,legbyes,penalty,total_runs_y,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,current_score,runs_left,balls_left
125,1001349,Melbourne Cricket Ground,Sri Lanka,175,1001349.csv,2016/17,17-02-17,Melbourne Cricket Ground,2,1,...,0,0,1,NaN,NaN,NaN,NaN,1,175,119
126,1001349,Melbourne Cricket Ground,Sri Lanka,175,1001349.csv,2016/17,17-02-17,Melbourne Cricket Ground,2,1,...,1,0,2,NaN,NaN,NaN,NaN,3,173,118
127,1001349,Melbourne Cricket Ground,Sri Lanka,175,1001349.csv,2016/17,17-02-17,Melbourne Cricket Ground,2,1,...,0,0,0,NaN,NaN,NaN,NaN,3,173,117
128,1001349,Melbourne Cricket Ground,Sri Lanka,175,1001349.csv,2016/17,17-02-17,Melbourne Cricket Ground,2,1,...,0,0,0,NaN,NaN,NaN,NaN,3,173,116
129,1001349,Melbourne Cricket Ground,Sri Lanka,175,1001349.csv,2016/17,17-02-17,Melbourne Cricket Ground,2,1,...,0,0,3,NaN,NaN,NaN,NaN,6,170,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389157,995469,R Premadasa Stadium,Australia,270,merged-deliveries-files.csv,2016,09-09-16,R Premadasa Stadium,2,18,...,0,0,1,NaN,NaN,NaN,NaN,261,10,17
389158,995469,R Premadasa Stadium,Australia,270,merged-deliveries-files.csv,2016,09-09-16,R Premadasa Stadium,2,18,...,0,0,3,NaN,NaN,NaN,NaN,264,7,16
389159,995469,R Premadasa Stadium,Australia,270,merged-deliveries-files.csv,2016,09-09-16,R Premadasa Stadium,2,18,...,0,0,0,NaN,NaN,NaN,NaN,264,7,15
389160,995469,R Premadasa Stadium,Australia,270,merged-deliveries-files.csv,2016,09-09-16,R Premadasa Stadium,2,18,...,0,0,0,NaN,NaN,NaN,NaN,264,7,14
389161,995469,R Premadasa Stadium,Australia,270,merged-deliveries-files.csv,2016,09-09-16,R Premadasa Stadium,2,18,...,0,0,6,NaN,NaN,NaN,NaN,270,1,13

In [11]:
ddff['player_dismissed'] = ddff['player_dismissed'].fillna("0")
ddff['player_dismissed'] = ddff['player_dismissed'].apply(lambda x:x if x == "0" else "1")
ddff['player_dismissed'] = ddff['player_dismissed'].astype('int')
wickets = ddff.groupby('match_id').cumsum()['player_dismissed'].values
ddff['wickets'] = 10 - wickets
ddff.head()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_12168\3249150577.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  wickets = ddff.groupby('match_id').cumsum()['player_dismissed'].values

,match_id,venue_x,winner,total_runs_x,Source.Name,season,start_date,venue_y,innings,over,...,penalty,total_runs_y,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,current_score,runs_left,balls_left,wickets
125,1001349,Melbourne Cricket Ground,Sri Lanka,175,1001349.csv,2016/17,17-02-17,Melbourne Cricket Ground,2,1,...,0,1,NaN,0,NaN,NaN,1,175,119,10
126,1001349,Melbourne Cricket Ground,Sri Lanka,175,1001349.csv,2016/17,17-02-17,Melbourne Cricket Ground,2,1,...,0,2,NaN,0,NaN,NaN,3,173,118,10
127,1001349,Melbourne Cricket Ground,Sri Lanka,175,1001349.csv,2016/17,17-02-17,Melbourne Cricket Ground,2,1,...,0,0,NaN,0,NaN,NaN,3,173,117,10
128,1001349,Melbourne Cricket Ground,Sri Lanka,175,1001349.csv,2016/17,17-02-17,Melbourne Cricket Ground,2,1,...,0,0,NaN,0,NaN,NaN,3,173,116,10
129,1001349,Melbourne Cricket Ground,Sri Lanka,175,1001349.csv,2016/17,17-02-17,Melbourne Cricket Ground,2,1,...,0,3,NaN,0,NaN,NaN,6,170,115,10

In [12]:
ddff['crr'] = (ddff['current_score']*6)/(120 - ddff['balls_left'])

In [13]:
# rrr = runs_left/overs_left
ddff['rrr'] = (ddff['runs_left']*6)/ddff['balls_left']

In [14]:
def result(row):
    return 1 if row['batting_team'] == row['winner'] else 0

In [15]:
ddff['result'] = ddff.apply(result,axis=1)

In [16]:
finalDf = ddff[['batting_team','bowling_team','venue_x','runs_left','balls_left','wickets','total_runs_x','crr','rrr','result']]

In [17]:
finalDf = finalDf.sample(finalDf.shape[0])

In [18]:
finalDf.sample()

,batting_team,bowling_team,venue_x,runs_left,balls_left,wickets,total_runs_x,crr,rrr,result
344167,Bangladesh,New Zealand,Shere Bangla National Stadium,115,67,6,213,11.207547,10.298507,0

In [19]:
finalDf.dropna(inplace=True)

In [20]:
finalDf = finalDf[finalDf['balls_left'] != 0]
X = finalDf.iloc[:,:-1]
y = finalDf.iloc[:,-1]
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [21]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','venue_x'])
]
,remainder='passthrough')

In [113]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier,AdaBoostClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.pipeline import Pipeline
import pickle

In [114]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2', AdaBoostClassifier())
])

In [115]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team',
                                                   'venue_x'])])),
                ('step2', AdaBoostClassifier())])

In [102]:
filename = 'LR.sav'
pickle.dump(pipe, open(filename, 'wb'))

In [103]:
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(X_test, y_test)
print(result)

0.7190012347372754

In [116]:
y_pred = pipe.predict(X_test)

In [117]:
pipe.predict_proba(X_test)[10]

array([0.50162676, 0.49837324])

In [118]:
from sklearn.metrics import classification_report, confusion_matrix
print('AdaBoostClassifier')
print(classification_report(y_test, y_pred))
print('confusion_matrix')
print(confusion_matrix(y_test, y_pred))

AdaBoostClassifier
              precision    recall  f1-score   support

           0       0.83      0.85      0.84     19631
           1       0.82      0.80      0.81     16814

    accuracy                           0.82     36445
   macro avg       0.82      0.82      0.82     36445
weighted avg       0.82      0.82      0.82     36445

confusion_matrix
[[16611  3020]
 [ 3381 13433]]